<div>
    <a href="">Self finance manager</a>
</div>

<div>
    <nav>
        <div>
            <NavLink Match="NavLinkMatch.All" href="">Транзакции</NavLink>
        </div>
        <div>
            <NavLink href="operations">Операции</NavLink>
        </div>
        <div>
            <NavLink href="dailyReport">Отчет за день</NavLink>
        </div>
        <div>
            <NavLink href="periodReport">Отчет за период</NavLink>
        </div>
    </nav>
</div>
