<div class="column nav-bar"> 
    <div class="main-lable">
        <a href="">Self finance manager</a>
    </div>

    <div>
        <nav>
            <div>
                <NavLink class="nav-bar-link" Match="NavLinkMatch.All" href="">Транзакции</NavLink>
            </div>
            <div class="nav-container">
                <NavLink class="nav-bar-link" href="operations">Операции</NavLink>
            </div>
            <div class="nav-container">
                <NavLink class="nav-bar-link" href="dailyReports">Отчет за день</NavLink>
            </div>
            <div class="nav-container">
                <NavLink class="nav-bar-link" href="periodReports">Отчет за период</NavLink>
            </div>
        </nav>
    </div>
</div>